@use '../Global.module.scss';
.PersonalKcalNeed{
  margin: 16px;
  color: Global.$textColor;
  
}

@media (max-width: 500px) {
  .PersonalKcalNeed{
    border-top: 2px solid Global.$darkColor;
    &__text{
      font-size: 8vw;
    }
  }
}