@use '../Global.module.scss';
.PersonalSurvey{
  padding: 16px;
  display: flex;
  flex-flow: column nowrap;
  color: Global.$textColor;
  @include Global.pop-out-animation();
  &__leftCol,
  &__rightCol{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  &__input,
  &__select{
  font-size: 16px;
  padding: 0.25em 0.5em;
  width: 60%;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: Global.$darkColor;
  color: Global.$textColor;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button{
      -webkit-appearance: none;
    }
  }
  &__wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
  }
  &__button{
    @include Global.globalFont();
    @include Global.buttonStyle();
    position: relative;
    height: 50px;
    width: fit-content;
    margin: 16px auto;
    padding: 0 16px;
    border-radius: 8px;
    background-color: Global.$darkColor;
    color: Global.$textColor;
    transition: all 0.1s linear;
    &:hover,
    &:active {
      transform: scale(1.1);
    }
  }
}