@use '../Global.module.scss';

.ShoppingList{
  width: fit-content;
  max-height: 500px;
  max-width: 5cm;
  font-size: 10pt;
  padding-right: 5px;
  margin: .5cm auto;
  overflow: auto;
  color: black;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #ccd1d6;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: Global.$darkColor;
  }
  &__printWrapper{
    background-color: Global.$textColor;
    padding: .4cm .6cm;
    border: 1px solid black;
  }
  &__title{
    font-size: 14pt;
    margin: 0;
  }
  &__printButton{
    @include Global.globalFont();
    @include Global.buttonStyle();
    position: relative;
    height: 50px;
    margin: auto;
    padding: 0 16px;
    border-radius: 8px;
    background-color: Global.$darkColor;
    color: Global.$textColor;
    transition: all 0.1s linear;
    &:hover,
    &:active {
      transform: scale(1.1);
    }
  }
}