@use './Optimiser.module.scss';
.Container {
  display: flex;
  justify-content: space-around;
  position: absolute;
  border-radius: 16px;
  left: 0;
  right: 0;
  margin: 36px auto;
  z-index: 99;
  width: 60%;
  min-height: 500px;
  height: calc(100% - 72px);
  color: white;
  animation: slide-up 0.5s ease-in-out;
  @keyframes slide-up {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(0);
    }
  }
  border-collapse: collapse;
  background-color: Optimiser.$darkColorBg;
}
.Table {
  padding: 8px;
  margin: 36px;
  height: calc(100% - 72px);
  overflow: scroll;
  border-collapse: collapse;
  display: inline-block;
  overflow: auto;
  &__header {
    padding: 0.5rem;
    border: 1px solid #fff;
  }
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #ccd1d6;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: Optimiser.$lightColorBg;
  }
}
