@use './Optimiser.module.scss';
.modal--hidden {
  display: none;
}
.modal--shown {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: brightness(50%);
}
.container {
  display: inherit;
  flex-flow: column nowrap;
  position: absolute;
  border-radius: 16px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  width: 60%;
  height: 50%;
  min-height: 500px;
  background-color: Optimiser.$lightColorBg;
  color: white;
  animation: slide-up 0.5s ease-in-out;
  @keyframes slide-up {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(0);
    }
  }
}
.productPick {
  height: 100%;
  &__textarea {
    @include Optimiser.globalFont();
    background-color: Optimiser.$darkColorBg;
    height: auto;
    max-width: 50%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    resize: none;
    outline: none;
    color: white;
  }
}
.buttonBox {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  justify-content: flex-end;
}
.button--ok,
.button--cancel {
  @include Optimiser.globalFont;
  @include Optimiser.buttonStyle;
  height: 50px;
  margin: 8px;
  padding: 0 16px;
  border-radius: 8px;
  cursor: pointer;
  background-color: Optimiser.$darkColorBg;
  color: white;
  transition: all 0.1s linear;
  &:hover {
    transform: scale(1.1);
  }
}
