$darkColorBg: #2A2B5F;
$lightColorBg: lighten($darkColorBg, 15%);
$whiteColorText: #ffffff;
@mixin globalFont {
  font-family: 'Baloo Tamma 2', cursive;
}
.start{
  display: flex;
  @include globalFont();
  height: 100vh;
  width: 100%;
  flex-direction: column;
}
.start__title{
  padding: 16px;
  background-color: $darkColorBg;
  cursor: default;
  & h1{
    margin: 0;
    font-size: 3em;
  }
}
.columns{
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.columns__left,
.columns__right{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50%;
  height: 100%;
  background-color: $lightColorBg;
  transition: all .2s ease-in-out;
  & p{
    margin: 0;
    font-size: 3em;
  }
  &:hover{
    background-color: lighten($darkColorBg, 10%);
    font-size: 1.3em;
  }
  @media screen 
    and (device-width: 360px) 
    and (device-height: 640px) 
    and (-webkit-device-pixel-ratio: 4)
    {
      font-size: 1.5em;
    }
}

