@use './Optimiser.module.scss';

.TopBar {
  display: flex;
  align-items: center;
  height: 75px;
  background-color: Optimiser.$darkColorBg;
  color: white;
  &__backBtn {
    @include Optimiser.buttonStyle;
    height: 50px;
    width: 50px;
    border-radius: 8px;
    margin: 0 8px;
    background-color: Optimiser.$lightColorBg;
    transition: all 0.1s linear;
    &:after {
      color: white;
      content: "<";
    }
    &:hover,
    &:active {
      transform: scale(1.1);
    }
  }
  &__addButton {
    @include Optimiser.globalFont();
    @include Optimiser.buttonStyle();
    position: relative;
    height: 50px;
    margin: 0 8px;
    padding: 0 16px;
    border-radius: 8px;
    background-color: Optimiser.$lightColorBg;
    color: white;
    transition: all 0.1s linear;
    &:hover,
    &:active {
      transform: scale(1.1);
    }
  }
}
